* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: crimson;
}
li {
  list-style: none;
}
/*Common CSS*/
header {
  height: 80px;
  background-color: rgb(53, 53, 173);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  font-size: 22px;
  margin-left: 20px;
}
.main-container {
  height: calc(100vh - 80px);
  background-color: rgb(134, 192, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Book Appointment*/
.book {
  flex-direction: column;
}
.book form {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.book input,
.book select {
  border: none;
  padding: 5px;
  font-size: 18px;
  background-color: aliceblue;
}

.book label,
.book h3 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 300;
}
.book form button {
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(55, 84, 138);
  color: #fff;
  font-size: 22px;
}
